/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


 /* basic styles */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#e2e2e2;
    background-attachment:fixed;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-align:center;
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.header{
    background-image: linear-gradient(to bottom right, #3975a9,#064276);
    height: 82px;
}

h1 {
    font-size:28px;
    font-weight:normal;
    margin:0px;
    padding:0px;
    text-align:right;
    line-height: 80px;
    font-family: 'Dekko', cursive;
}

h1.mLines{
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
}

.logoWrap{
    text-align: left;
    position: relative;
    padding-top: 5px;
}
.logoWrap .fa.fa-square-o{
    font-size: 72px;
}
.logoWrap .fa.fa-map-marker{
    font-size: 43px;
    margin-left: -41px;
    position: absolute;
    top: 14px;
}

.ui-content{
    margin-top: 50px!important;
    padding-bottom: 35px;
}

.footer{
    background-image: linear-gradient(to bottom right, #3975a9,#064276);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-shadow: none;
    z-index: 5;
    height: 30px;
}
.footer .row .col-xs-12 span{
    line-height: 30px;
}

.userAuthFields, .newAccoutFields, .newPlaceFields, .newPW-link, .register-link, .showAll, .signOut{
    margin-bottom: 50px!important;
}

.signoutTop{
    margin-top: 50px;
}


.userAuthFields input, .newAccoutFields input, .newPlaceFields input{
    border-radius: 0;
    margin-bottom: 10px;
    width: 100%;
}

#allowGPS{
    margin: 0;
    width: 20px;
    height: 20px;
}

.ui-btn.ui-shadow.ui-btn-corner-all.ui-fullsize.ui-btn-block.ui-btn-up-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-fullsize.ui-btn-block.ui-btn-up-a{
    border-radius: 0;
    margin: 0;
    background: transparent;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Dekko', cursive;
    font-weight: normal;
    border: none;
    font-size: 17px;
    margin-top: 10px;
    
}
.ui-btn-block:hover, .ui-btn.ui-shadow.ui-btn-corner-all.ui-fullsize.ui-btn-block.ui-btn-hover-c,
.ui-btn.ui-shadow.ui-btn-corner-all.ui-fullsize.ui-btn-block.ui-btn-hover-a{
    border-radius: 0;
    margin: 0;
    background: transparent;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Dekko', cursive;
    font-weight: normal;
    border: none;
    font-size: 17px;
    text-decoration: none;
    margin-top: 10px;
}

.ui-btn-inner.ui-btn-corner-all .ui-btn-text{
    color: #fff;
    z-index: 3;
}


#savePlace, #showAll, #btnSignout, #btnLogin, #btnSignin, #toRegister, #btnSignup, #planRoute, #btnAlleAnzeigen, #btnShowListFromMap, .ui-select{
    background: linear-gradient(to bottom right, #3975A9, #064276);
    opacity: 1;
}


.ui-btn-hidden{
    opacity: 1;
    background-color: transparent;
    background: transparent;
}

.ui-btn-inner.ui-btn-corner-all{
border: none;
}


.register-link a:hover, .showAll:hover, .signOut:hover, .alleAnzeigen:hover, .showListFromMap:hover{
    text-decoration: none;
}

.logoWrapInner{
    margin-top: 22px;
    text-shadow: none;
    min-width: 100px;
}
#linkBack{
    background-color: #fff;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 15px;
    text-decoration: none;
    width: 100px;
}
.logoWrapInner i{
    font-size: 13px;
}

.listContent, .detail1Content, .detail2Content{
    margin: 0;
    padding: 0;
}

.detail1content, .detail2content{
    padding-bottom: 60px;
}

#list{
    height: 100%;
}
.listContent{
    height: 100%;
    overflow: scroll;
}
#liste{
    width: 100vw;
    margin: 0;
    padding: 0;
}
#liste button{
    display: inline-block;
    width: 50%;
    background-color: #fff;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #04345E;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #3975A9;
}

#liste button.listPlace{
    width: 80%;
}


#liste button.deletePlace{
    border-right:  1px solid #3975A9;
    width: 20%;
}



#map_canvas{
    text-align: center;
    width: 100vw;
    height: 70vh;
    min-height: 400px;
}

#map_canvas2{
    text-align: center;
    width: 100vw;
    height: 80vh;
}
#map_canvas3{
    width: 80%;
    height: 80vh;
}


/* loading animation */

@-webkit-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-moz-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-o-keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@keyframes up {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-moz-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-o-keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes down {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
}
@-webkit-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@-moz-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@-o-keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
@keyframes r-to-l {
  100% {
    margin-left: -1px;
  }
}
body {
  background: #000;
  overflow: hidden;
  margin: 0;
}
body .pacman:before, body .pacman:after {
  content: '';
  position: absolute;
  background: #3975A9;
  width: 100px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  -webkit-animation: up 0.4s infinite;
  -moz-animation: up 0.4s infinite;
  -o-animation: up 0.4s infinite;
  animation: up 0.4s infinite;
  z-index: 2;
}
body .pacman:after {
  margin-top: -1px;
  border-radius: 0 0 50px 50px;
  -webkit-animation: down 0.4s infinite;
  -moz-animation: down 0.4s infinite;
  -o-animation: down 0.4s infinite;
  animation: down 0.4s infinite;
}
body .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: 30px;
  border-radius: 50%;
  background: #04345E;
  z-index: 1;
  box-shadow: 30px 0 0 #04345E, 60px 0 0 #04345E, 90px 0 0 #04345E, 120px 0 0 #04345E, 150px 0 0 #04345E;
  -webkit-animation: r-to-l 0.4s infinite;
  -moz-animation: r-to-l 0.4s infinite;
  -o-animation: r-to-l 0.4s infinite;
  animation: r-to-l 0.4s infinite;
}

.loading{
    height: 115px;
    position: relative;
    opacity: 1;
    transition: .1s opacity ease;
}
.pacman, .dot{
    margin-top: 40px;
}
.loading.hidden{
    opacity: 0;
    transition: .1s opacity ease;
}

/*------------------------------------------------------------------------------------------------*/





/* more styles */
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


